openapi: 3.0.3
info:
  title: Builder.Group API
  version: 1.0.0
  contact:
    name: API Support
    email: support@bulder.group
servers:
  - url: https://api.builder.group/v1
    description: Production server
tags:
  - name: health
    description: Operations related to the API's health
  - name: shopify
    description: Operations related to Shopify session management
  - name: energy-label
    description: Operation related to Energy Label's
paths:
  /health:
    get:
      tags:
        - health
      summary: Check API health
      description: Returns the current health status of the API
      operationId: checkHealth
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthDto'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /shopify/session:
    post:
      summary: Create a new Shopify session
      tags:
        - shopify
      operationId: createSession
      requestBody:
        description: Shopify session details
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShopifySessionDto'
      responses:
        '201':
          description: Session created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Session created successfully"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - shopifyToken: []

  /shopify/session/{id}:
    get:
      summary: Retrieve a Shopify session by ID
      tags:
        - shopify
      operationId: getSession
      parameters:
        - $ref: '#/components/parameters/SessionId'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShopifySessionDto'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - shopifyToken: []

    delete:
      summary: Delete a Shopify session by ID
      tags:
        - shopify
      operationId: deleteSession
      parameters:
        - $ref: '#/components/parameters/SessionId'
      responses:
        '200':
          description: Session deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Session deleted successfully"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - shopifyToken: []

  /shopify/sessions/delete:
    post:
      summary: Delete multiple Shopify sessions
      tags:
        - shopify
      operationId: deleteSessions
      requestBody:
        description: Array of session IDs to delete
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
              example: ["session1", "session2", "session3"]
      responses:
        '200':
          description: Sessions deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Sessions deleted successfully"
                  deletedCount:
                    type: integer
                    example: 3
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - shopifyToken: []

  /shopify/sessions/shop/{shop}:
    get:
      summary: Find Shopify sessions by shop
      tags:
        - shopify
      operationId: findSessionsByShop
      parameters:
        - in: path
          name: shop
          schema:
            type: string
          required: true
          description: Shopify shop domain
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ShopifySessionDto'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - shopifyToken: []

  /energy-label/product-groups:
    get:
      summary: Get list of product groups
      description: Returns a list of product groups with their associated details.
      tags:
        - energy-label
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductGroupListDto'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /energy-label/product-groups/{productGroup}/products:
    get:
      summary: Get product details by model
      description: Retrieves specific details for a product model within a product group.
      tags:
        - energy-label
      parameters:
        - $ref: '#/components/parameters/ProductGroupDto'
        - name: model
          in: query
          required: true
          schema:
            type: string
          description: The model identifier of the product
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductDetailsDto'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /energy-label/products/{registrationNumber}/sheets:
    get:
      summary: Get product sheet URLs
      description: Retrieves URLs for product information sheets (fiches) for a specific product.
      tags:
        - energy-label
      parameters:
        - $ref: '#/components/parameters/RegistrationNumber'
        - $ref: '#/components/parameters/Language'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SheetUrlsDto'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /energy-label/products/{registrationNumber}/labels:
    get:
      summary: Get product label URLs
      description: Retrieves URLs for product labels for a specific product.
      tags:
        - energy-label
      parameters:
        - $ref: '#/components/parameters/RegistrationNumber'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelUrlsDto'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

components:
  parameters:
    SessionId:
      in: path
      name: id
      schema:
        type: string
      required: true
      description: Unique identifier of the Shopify session
    ProductGroupDto:
      name: productGroup
      in: path
      required: true
      description: The product group identifier (e.g., airconditioners, electronicdisplays)
      schema:
        type: string
    RegistrationNumber:
      name: registrationNumber
      in: path
      required: true
      description: Unique identifier of the product in the database
      schema:
        type: string
    Language:
      name: language
      in: query
      required: false
      schema:
        type: string
        enum: [BG, CS, DA, DE, ET, EL, EN, ES, FR, GA, HR, IT, LV, LT, HU, MT, NL, PL, PT, RO, SK, SL, FI, SV]
      description: The language in which the product sheet should be returned. If not specified, all available languages will be returned.

  securitySchemes:
    shopifyToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token for authentication with Shopify

  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AppErrorDto'
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AppErrorDto'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AppErrorDto'
    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AppErrorDto'

  schemas:
    AppErrorDto:
      type: object
      required:
        - error_code
        - error_description
      properties:
        error_code:
          type: string
          description: Error code
        error_description:
          type: string
          description: Error description
        error_uri:
          type: string
          description: Error URI for more information
          nullable: true
        additional_errors:
          type: array
          items:
            type: object
          description: Additional error details
      example:
        error_code: "400"
        error_description: "Bad Request: Invalid input"
        error_uri: "https://api.yourdomain.com/docs/errors#400"
        additional_errors: []

    HealthDto:
      type: object
      required:
        - status
        - message
      properties:
        status:
          $ref: '#/components/schemas/HealthStatus'
        message:
          type: string
          description: Additional health check information
      example:
        status: Up
        message: "API is functioning normally"

    HealthStatus:
      type: string
      enum:
        - Up
        - Restricted
        - Down
      description: |
        The current health status of the API:
        * `Up` - Fully operational
        * `Restricted` - Partially operational
        * `Down` - Not operational

    ShopifySessionDto:
      type: object
      required:
        - id
        - app
        - shop
        - state
        - isOnline
      properties:
        id:
          type: string
          description: Unique identifier for the session
        app:
          type: string
          description: Unique identifier for the app
        shop:
          type: string
          description: Shopify shop domain
        state:
          type: string
          description: Current state of the session
        isOnline:
          type: boolean
          description: Indicates if the access token is online or offline
        scope:
          type: string
          description: Desired scopes for the access token
        expires:
          type: string
          format: date-time
          description: Expiration date and time of the access token
        accessToken:
          type: string
          description: Access token for the session
        userId:
          type: integer
          description: Shopify user ID associated with the session
      example:
        id: "session123"
        app: "myShopifyApp"
        shop: "mystore.myshopify.com"
        state: "active"
        isOnline: true
        scope: "read_products,write_orders"
        expires: "2023-12-31T23:59:59Z"
        accessToken: "shpat_1234567890abcdef"
        userId: 12345678

    ProductGroupListDto:
      type: array
      items:
        $ref: '#/components/schemas/ProductGroupDto'

    ProductGroupDto:
      type: object
      properties:
        code:
          type: string
          example: AIR_CONDITIONER
        urlCode:
          type: string
          example: airconditioners
        name:
          type: string
          example: Air conditioners
        regulation:
          type: string
          example: Regulation (EU) 626/2011

    ProductDetailsDto:
      type: object
      properties:
        modelIdentifier:
          type: string
          example: "P2422H"
        onMarketStartDate:
          type: array
          items:
            type: integer
          example: [2022, 5, 1]
        onMarketEndDate:
          type: array
          items:
            type: integer
          nullable: true
          example: null
        status:
          type: string
          enum: [PUBLISHED, DRAFT, ARCHIVED]
          example: PUBLISHED
        eprelRegistrationNumber:
          type: string
          example: "123456"
        energyClass:
          type: string
          example: "A"
        productGroup:
          type: string
          example: "electronicdisplays"
        implementingAct:
          type: string
          example: "EU_2019_2013"

    SheetUrlsDto:
      type: object
      properties:
        urls:
          type: array
          items:
            type: string
          example: 
            - "https://api.example.com/fiche/Fiche_123456_EN.pdf"
            - "https://api.example.com/fiche/Fiche_123456_FR.pdf"

    LabelUrlsDto:
      type: object
      properties:
        urls:
          type: array
          items:
            type: string
          example:
            - "https://api.example.com/label/Label_123456.png"
            - "https://api.example.com/label/Label_123456.svg"
            - "https://api.example.com/label/Label_123456.pdf"
